  <header class="navbar">
    <%= link_to '<', unauthenticated_root_path, class: 'back-icon' %>
    <h2 class="header">REGISTER</h2>
  </header>

  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name, class: 'label-1' %><br />
    <%= f.text_field :name, placeholder: true, autofocus: true, autocomplete: "name", class: 'field-1' %>
    <%= f.label :email, class: 'label-1' %><br />
    <%= f.email_field :email, placeholder: true, autofocus: true, autocomplete: "email", class: 'field-1' %>
    <%= f.label :password, class: 'label-1' %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, placeholder: true, autocomplete: "new-password", class: 'field-1' %>
    <%= f.label :password_confirmation, class: 'label-1' %><br />
    <%= f.password_field :password_confirmation, placeholder: true, autocomplete: "new-password", class: 'field-1-2' %>
  </div>
  <%= f.submit "Next", class: "btn" %>
<% end %>

<%= render "devise/shared/links" %>
