<div class="categories-new">
  <header class="navbar">
    <%= link_to '<', category_payments_path, class: 'back-icon' %>
    <h2 class="header">NEW TRANSACTION</h2>
  </header>

  <%= form_with(model: @payment, url: category_payments_path, class: "form") do |f| %>
    <div class="field">
      <%= f.label :name, class: 'label-1' %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Transaction name", class: 'field-1' %>
    </div>

    <div class="field">
      <%= f.label :amount, class: 'label-1' %>
      <%= f.text_field :amount, autofocus: true, autocomplete: "amount", placeholder: "0.00", class: 'field-1' %>
    </div>

    <div class="field">
      <%= f.label :categories, class: "label-1" %><br />
      <%= f.collection_check_boxes :category_ids, current_user.categories, :id, :name, :include_hidden => false %>
      <span>No matching category?</span>
      <%= link_to "Add a new category", new_category_path, data: { turbo: false }, class: "btn"  %>
    </div>

    <div class="actions">
      <%= f.submit "ADD", data: { turbo: false }, class: "btn" %>
    </div>
  <% end %>
</div>
